
useDynLib(FLSRTMB)

import("TMB")
import("FLCore")
import("doFuture")
importFrom("progressr",
  "progressor")
importFrom("scales",
  "comma",
  "scientific")

exportPattern("^[[:alpha:]]+")

exportMethods("srrTMB")
